* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

.container {
	width: 1200px;
}

[class*="row"] {

}

[class*="width-1"] {
	width: 50%;
	height: 150px;

}

.width-1-1 {
	



/*.ba-grid > [class*="ba-width-"]{
    float: left;
    padding-left: 20px;
    background-color: #5f9ea0;
}
// добавить .ba-grid clearfix стили
.ba-grid{
    margin-left: -20px;
}
.ba-grid + .ba-grid {
    margin-top: 20px;
}
[class*="ba-width-"] {
    width: 100%;
}
.ba-width-1-2{
    width: 50%;
}
.ba-width-1-3{
    width: 33.33333%;
}
.ba-width-2-3{
    width: 66.66666%;
}
// не нужно писать .ba-grid > .ba-width-1-2{}*/

